{% extends '@EasyAdmin/default/edit.html.twig' %}


{% block entity_form %}
	{{ form_start(form) }}
		<div class="col-xs-12 col-sm-12">
			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title">Informations générales</h3>
				</div>

				<div class="box-body">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							{{ form_row(form.client) }}
						</div>
						<div class="col-xs-12 col-sm-6">
							{{ form_row(form.dossier) }}
						</div>
						<div class="col-xs-12 col-sm-12">
							{{ form_row(form.commentaire) }}
						</div>
						<div class="col-xs-12 col-sm-6">
							{{ form_row(form.is_tva_intra) }}
						</div>
						<div class="col-xs-12 col-sm-6" id="tva_intra_field" {% if not entity.isTvaIntra %}style="display: none;"{% endif %}>
							{{ form_row(form.num_tva_intra) }}
						</div>
					</div>
				</div>
			</div>
		</div>

		{% if form.dossierArticles is defined or form.dossierMainoeuvres is defined %}
		<div class="col-xs-12 col-sm-12">
			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title">Lignes du Proformat</h3>
				</div>

				<div class="box-body">
					<div class="row">
						{% if form.dossierArticles is defined %}
						<div class="col-xs-12 col-sm-6">
							{{ form_row(form.dossierArticles) }}
							<span class="help-block"><i class="fa fa-info-circle"></i> Cocher les articles à prendre en compte pour ce pro format</span>
						</div>
						{% endif %}
						{% if form.dossierMainoeuvres is defined %}
						<div class="col-xs-12 col-sm-6">
							{{ form_row(form.dossierMainoeuvres) }}
							<span class="help-block"><i class="fa fa-info-circle"></i> Cocher les mains d'oeuvre à prendre en compte pour ce pro format</span>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}

	{{ form_end(form) }}

{% endblock entity_form %}
