
<table class="table table-show table-striped table-bordered">
	<thead class="thead-light">
		<tr>
			<th class="empty_th"></th>
			<th>Type</th>
			<th>Edition</th>
			<th>Révision/Acceptation</th>
			<th>Date</th>
			{% if not with_dosser %}<th class="text-right">Action</th>{% endif %}
		</tr>
	</thead>
	{% if with_dosser %}
	{% set dossier_pe = appareil.getDossierPe(date_dossier) %}
	{% set dossier_amm_cellule = appareil.getDossierAmmCellule(date_dossier) %}
	{% set dossier_amm_moteur = appareil.getDossierAmmMoteur(date_dossier) %}

	<tbody>
		{% if dossier_pe %}
		<tr>
			<th>Programme d'entretien</th>
			<td>{{ dossier_pe.type }}</td>
			<td>{{ dossier_pe.edition }}</td>
			<td>{{ dossier_pe.revision }}</td>
			<td>{{ dossier_pe.date|date("m/Y") }}</td>
		</tr>
		{% endif %}
		{% if dossier_amm_cellule %}
		<tr>
			<th>AMM Cellule</th>
			<td>{{ dossier_amm_cellule.type }}</td>
			<td>{{ dossier_amm_cellule.edition }}</td>
			<td>{{ dossier_amm_cellule.revision }}</td>
			<td>{{ dossier_amm_cellule.date|date("m/Y") }}</td>
		</tr>
		{% endif %}
		{% if dossier_amm_moteur %}
		<tr>
			<th>AMM Moteur</th>
			<td>{{ dossier_amm_moteur.type }}</td>
			<td>{{ dossier_amm_moteur.edition }}</td>
			<td>{{ dossier_amm_moteur.revision }}</td>
			<td>{{ dossier_amm_moteur.date|date("m/Y") }}</td>
		</tr>
		{% endif %}
	</tbody>
	{% else %}
	<tbody>
		{% if appareil.appareilPe|length() > 0 %}
		{% for object in appareil.appareilPe %}
		<tr>
			{% if loop.first %}<th rowspan="{{ appareil.appareilPe|length }}">Programme d'entretien</th>{% endif %}
			<td>{{ object.type }}</td>
			<td>{{ object.edition }}</td>
			<td>{{ object.revision }}</td>
			<td>{{ object.date|date("m/Y") }}</td>
			<td class="text-right">
                <a href="{{ path('easyadmin', { action: 'edit', entity: 'ProgrammeEntretien', primary_key_name: 'id', id: object.id, referer: '' }) }}"><i class="fa fa-pencil"></i></a>
            </td>
		</tr>
		{% endfor %}
		{% endif %}
		{% if appareil.appareilAmmCellule|length() > 0 %}
		<tr><td colspan="6"></td></tr>
		{% for object in appareil.appareilAmmCellule %}
		<tr>
			{% if loop.first %}<th rowspan="{{ appareil.appareilAmmCellule|length }}">AMM Cellule</th>{% endif %}
			<td>{{ object.type }}</td>
			<td>{{ object.edition }}</td>
			<td>{{ object.revision }}</td>
			<td>{{ object.date|date("m/Y") }}</td>
			<td class="text-right">
                <a href="{{ path('easyadmin', { action: 'edit', entity: 'AmmCellule', primary_key_name: 'id', id: object.id, referer: '' }) }}"><i class="fa fa-pencil"></i></a>
            </td>
		</tr>
		{% endfor %}
		{% endif %}
		{% if appareil.appareilAmmCellule|length() > 0 %}
		<tr><td colspan="6"></td></tr>
		{% for object in appareil.appareilAmmMoteur %}
		<tr>
			{% if loop.first %}<th rowspan="{{ appareil.appareilAmmMoteur|length }}">AMM Moteur</th>{% endif %}
			<td>{{ object.type }}</td>
			<td>{{ object.edition }}</td>
			<td>{{ object.revision }}</td>
			<td>{{ object.date|date("m/Y") }}</td>
			<td class="text-right">
                <a href="{{ path('easyadmin', { action: 'edit', entity: 'AmmMoteur', primary_key_name: 'id', id: object.id, referer: '' }) }}"><i class="fa fa-pencil"></i></a>
            </td>
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
	{% endif %}
</table>
