{# a *-to-many collection of values #}
{% if value is iterable %}
    {% if 'show' == view %}
        {% if value|length > 0 %}
           <table class="table">
                <tr>
                    <th>Date de validité</th>
                    <th class="text-right">Certificat</th>
                </tr>
                {% for item in value|slice(0, easyadmin_config('show.max_results')) %}
                    <tr>
                        {% if link_parameters is defined %}
                            {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
                            {% set primary_key_value = '' ~ attribute(item, link_parameters.primary_key_name) %}
                            <td>{{ item }}</td>
                            <td class="text-right"><a title="voir le certificat" href="{{ vich_uploader_asset(item, 'certificatFile', 'App\\Entity\\OutillageCertificat') }}" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                        {% else %}
                            <td>{{ item }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                {% set _remaining_items = value|length - easyadmin_config('show.max_results') %}
                {% if _remaining_items > 0 %}
                     <tr class="remaining-items"><td>({{ 'show.remaining_items'|transchoice(_remaining_items, {}, 'EasyAdminBundle') }})</td></tr>
                {% endif %}
            </table>
        {% else %}
            <div class="empty collection-empty">
                {{ include(entity_config.templates.label_empty) }}
            </div>
        {% endif %}
    {% elseif 'list' == view %}
        <span class="badge">{{ value|length }}</span>
    {% endif %}
{# a simple *-to-one value associated with an entity managed by this backend #}
{% elseif link_parameters is defined %}
    <a href="{{ path('easyadmin', link_parameters|merge({ referer: '' })) }}">{{ value|easyadmin_truncate }}</a>
{% else %}
    {{ value|easyadmin_truncate }}
{% endif %}