{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}Compte Rendu d'intervention {{ entity.numBl }}{% endblock %}

{% block main_menu_wrapper %}
<ul class="sidebar-menu">
	<li class="header">Document</li>
	<li class="active"><a href="{{ path('dossier_cri', { entity: 'Dossier', id: entity.id }) }}" ><i class="fa fa-file-text"></i> <span>CRI</span></a></li>
	<li><a href="{{ path('dossier_crs', { entity: 'Dossier', id: entity.id }) }}" ><i class="fa fa-clipboard"></i> <span>CRS</span></a></li>
	<li><a href="{{ path('dossier_aprs', { entity: 'Dossier', id: entity.id }) }}" ><i class="fa fa-sticky-note"></i> <span>APRS</span></a></li>
	{% if entity.carteTravail %}<li><a href="{{ vich_uploader_asset(entity, 'carteTravailFile', 'App\\Entity\\Dossier') }}"  target="_blank" target="_self" ><i class="fa fa-file-pdf-o"></i> <span>Carte de travail</span></a></li>{% endif %}
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	<li class="header">Action</li>
	<li><a href="{{ path('easyadmin', { action: 'show', entity: 'Dossier', primary_key_name: 'id', id: entity.id }) }}" ><i class="fa fa-sign-out"></i> <span>Retour au dossier</span></a></li>
	{% endif %}
</ul>
{% endblock %}

{% block content %}
	{% block flash_messages %}
		{{ include(_entity_config is defined ? _entity_config.templates.flash_messages : '@EasyAdmin/default/flash_messages.html.twig') }}
	{% endblock flash_messages %}

	<section class="content-header">
	{% block content_header %}
		<h1 class="title">{% block content_title %}{% endblock %}</h1>
	{% endblock content_header %}
	{% block content_help %}
		{% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
			<div class="box box-widget help-entity">
				<div class="box-body">
					{{ _entity_config[app.request.query.get('action')]['help']|trans|raw }}
				</div>
			</div>
		{% endif %}
	{% endblock content_help %}
	</section>

	<section class="invoice">
		{% block main %}
			{% include  'easy_admin/Dossier/include_cri.html.twig' with {'entity': entity, pdf: false } %}
		{% endblock %}
	</section>
{% endblock content %}
